body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 2rem;
}

.banner-heading {
    color: #84aed8;
    position: absolute;
    top: 75%;
    right: 10%;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-group-item {
    background-color: #cdcfd0;
    color: #555555;
    margin-bottom: 2px;
    border-radius: 5px;
}

img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    #banner-div h1 {
        font-size: 1.5em;
        right: 10px;
    }
    
    form {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .list-group-item {
        margin-bottom: 5px;
    }
}
